body{
    text-align: center;
}
.mini{
    height: 4vh;
    width: 4vh;
    border-radius: 100%;
    font-size: x-large;
}
.add{
    background-color: green;
}
.substract{
    background-color: red;
}

.OptionsButton{
    width: 20vh;
    height: 10vh;
    margin-left: 1vh;
    background-color: rgb(147, 223, 147);
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.OptionsButton:active{
    background-color: rgb(95, 147, 95);
}
.Card{
    background-color: rgb(165, 222, 252);
    height: 9vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vh;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    border: 0.2vw solid black;
    margin-top: 0.2vw;
}
#controlArea{
    width: 27vh;
}